@font-face {
    font-family: Quicksand;
    src: url(Quicksand-Medium.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body{
    color: #333;
    font-family: Quicksand, sans-serif;
    font-size: 25px;
}
.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}
.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) scale(0);
    background: #fff;
    width: 700px;
    height: 330px;
    z-index: 2;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.popup .close-btn{
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    background:white;
    color: black;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay{
    display: block;
}
.popup.active .content{
    transform:translate(-50%,-50%) scale(1);
    transition: all 300ms ease-in-out;
}

.tabs {
    overflow: hidden;
    background-color:#E6E6E6;
    margin: -10px -10px 0px;
    padding-bottom: 8px;
}
.tabs button{
    background-color:inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 8px;
    font-size: 20px;
    font-family:  Quicksand, sans-serif ;
    padding: 0px 90px;
    transition: 0.3s;
}
/* Change background color of buttons on hover */
.tabs button:hover{
    background-color: #ddd;
}
.tabcontent{
    margin-top: 20px;
    padding-bottom: 125px;
}
.btn-list { /*ZoneLogin/Regis*/ 
    margin-top: 3px;
    display: flexbox;
    height: 60%;
} 
.box-input{
    width: 50%;
    height: 40px; 
    border:1px solid #E6E6E6;
    margin-top: 20px;
}
.logo-login { /*SubmitĐN*/ 
    background-color: #343A40;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    width: 110px; 
    height: 37px;
    margin-top: 20px;
    cursor: pointer;
}
.reset-pass{
    background-color: inherit;
    border: none;
    margin: 8px;
    outline: none;
    cursor: pointer;
}
.reset-pass:hover{
    color: #0080FF;
}
/*regis*/
.box-link{
    background-image: url(facebook.png);
    background-color: transparent;
    background-repeat: no-repeat; 
    background-position: 15px 7px;

    border: 1px solid#082375;
    margin-top: 35px;
    width: 320px;
    height: 42px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: Quicksand, sans-serif ;
    font-weight: bold;
    vertical-align: middle;
    color: #082375;
}
.gg{
    background-image: url(google.png);
    border: 1px solid #2E64FE;
    color: #2E64FE;
    margin-top: 20px;
}
